<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SportMobil"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportMobli"
        tools:targetApi="31">
        <activity
            android:name=".activity.ChronometerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExerciseListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Tracking"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Training"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DietActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.Home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Signup"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DietHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TrainingHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>