<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SportMobil"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportMobli"
        tools:targetApi="31">
        <activity
            android:name=".ChronometerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ExerciseListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tracking"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Training"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diet"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>